DATABASE_URL=
CONSENT_HASH_SECRET=
APP_URL=https://falconmailing.com

SES_SMTP_HOST=email-smtp.eu-central-1.amazonaws.com
SES_SMTP_PORT=587
SES_SMTP_USERNAME=
SES_SMTP_PASSWORD=
SES_CONFIGURATION_SET=falconmailing-events
SES_DAILY_QUOTA=10000
SES_SNS_TOPIC_ARN=arn:aws:sns:eu-central-1:597564118670:falconmailing-ses-events
MAIL_FROM_ADDRESS=duyuru@send.falconmailing.com
MAIL_FROM_NAME=FalconMailing
CAMPAIGN_SMTP_CONNECTIONS=6
CAMPAIGN_BATCH_SIZE=40
CAMPAIGN_BATCHES_PER_INVOCATION=3

ADMIN_PASSWORD_HASH=
ADMIN_SESSION_SECRET=
